@page "/"
@inject HttpClient Http
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@rendermode @(new InteractiveServerRenderMode(prerender:false))

<PageTitle>Personal Management - Annual Dashboard</PageTitle>

<style>
    /* Styles.css */

    .centered-table-with-borders {
        margin: 0 auto;
        border-collapse: collapse;
        width: 100%;
    }

        .centered-table-with-borders th {
            text-align: center;
            background-color: #f2f2f2;
            padding: 8px;
            border: 1px solid #ddd;
        }

        .centered-table-with-borders td {
            text-align: center;
            padding: 8px;
            border: 1px solid #ddd;
        }
</style>

@if (homeDto == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <br />
    <br />
    <h2><b>DashBoard</b></h2>
    <hr />
    <h4>Categories</h4>
    <br />

    <table class="centered-table-with-borders">
        <thead>
            <tr>
                <th></th>
                <th colspan="1">Jan</th>
                <th colspan="1">Feb</th>
                <th colspan="1">Mar</th>
                <th colspan="1">April</th>
                <th colspan="1">May</th>
                <th colspan="1">June</th>
                <th colspan="1">July</th>
                <th colspan="1">August</th>
                <th colspan="1">Sept</th>
                <th colspan="1">Oct</th>
                <th colspan="1">Nov</th>
                <th colspan="1">Dec</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var homeCategory in @homeDto.HomeCategories)
            {
                <tr>
                    <td>@homeCategory.CategoryName</td>
                    <td>@homeCategory.JanuaryExpenses</td>
                    <td>@homeCategory.FebruaryExpenses</td>
                    <td>@homeCategory.MarchExpenses</td>
                    <td>@homeCategory.AprilExpenses</td>
                    <td>@homeCategory.MayExpenses</td>
                    <td>@homeCategory.JuneExpenses</td>
                    <td>@homeCategory.JulyExpenses</td>
                    <td>@homeCategory.AugustExpenses</td>
                    <td>@homeCategory.SeptemberExpenses</td>
                    <td>@homeCategory.OctoberExpenses</td>
                    <td>@homeCategory.NovemberExpenses</td>
                    <td>@homeCategory.DecemberExpenses</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private HomeDto homeDto = null;

    protected override async Task OnInitializedAsync()
    {
        homeDto = await Http.GetFromJsonAsync<HomeDto>("Home");
    }

}
